# Revisão em Tópicos Especiais em Desenvolvimento de Sistemas

**Aluno:** Tiago Danin

## 1. Imprima a frase “Tópicos Especiais em Desenvolvimento de sistemas!"

In [3]:
print("Tópicos Especiais em Desenvolvimento de sistemas!")

Tópicos Especiais em Desenvolvimento de sistemas!

## 2. Faça operações matemáticas de soma, subtração, multiplicação e divisão entre dois valores.

In [8]:
a, b = 1, 2
print("Soma:", a + b)
print("Subtração:", a - b)
print("Multiplicação:", a * b)
print("Divisão:", a / b)

Soma: 3
Subtração: -1
Multiplicação: 2
Divisão: 0.5

## 3. Imprima o tipo de um determinado valor inteiro.

In [7]:
a = 1
type(a)

int

## 4. Converta o valor passado anteriormente para o tipo float

In [13]:
a = 1
b = float(a)
print(type(b))

<class 'float'>

## 5. Faça a conversão do valor float recebido anteriormente para o tipo string

In [15]:
a = 1
b = float(a)
c = str(b)
print(type(c))

<class 'str'>

## 6.  Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [16]:
a = 2.898
print(round(a))

3

In [17]:
a = 2.4545455
print(round(a, 4))

2.4545

## 7. Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
- obs: O resultado dessa variável será Nome Sobrenome, exemplo, Wellington Moraes.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [19]:
nome = "Tiago"
print(f"Nome: {nome}")
print(f"Tipo: {type(nome)}")
nome += " Danin"
print(f"Nome: {nome}")
email, idade = "TiagoDanin@outlook.com", 21
print(f"Email: {email}")
print(f"Idade: {idade}")

Nome: Tiago
Tipo: <class 'str'>
Nome: Tiago Danin
Email: TiagoDanin@outlook.com
Idade: 21

## 8. Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [20]:
break=10

SyntaxError: invalid syntax (<ipython-input-20-f29ea38ec5bd>, line 1)

> `break` é uma palavra revesada na syntax de Python. Em Python não se pode criar variável com com nome de palavras revesadas

## 9. Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
- "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [1]:
python = "Python é uma maldição!"
print(python)
print(python[0])
print(python[:6])
print(len(python))
dadoString = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
print(dadoString.count("dados"))
dadoString = dadoString.capitalize()
print(dadoString)
dadoLista =  dadoString.split(' ')
print(dadoLista)

Python é uma maldição!
P
Python
22
2
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..
['Dados', 'é', 'o', 'novo', 'petróleo,', 'em', 'deus', 'eu', 'confio,', 'para', 'o', 'resto', 'me', 'traga', 'dados..']

## 10. Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [58]:
idades = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(idades[1])
print(len(idades))
idades[1] = 20

print(idades[1])
print(idades[2:])
idades.clear()
print(idades)

salarios = [900, 1200, 1500, 800, 12587, 10000]
salarios.sort()

print(f"Maior: {salarios[-1]}")
print(f"Menor: {salarios[0]}")

salarios.append(700)
salarios.extend([500, 200])
print(salarios)

print(salarios.index(800))

print(sorted(salarios))
print(sorted(salarios, reverse=True))

1
11
20
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[]
Maior: 12587
Menor: 800
[200, 500, 700, 800, 900, 1200, 1500, 10000, 12587]
3
[200, 500, 700, 800, 900, 1200, 1500, 10000, 12587]
[12587, 10000, 1500, 1200, 900, 800, 700, 500, 200]

## 11. Trabalhando com arquivos
- Crie um arquivo txt com o nome Registro.txt
- Abra-o no modo de escrita insira o texto: Desenvolver programas em python é mil graus :)
- Apresente quantos caracteres possui o arquivo
- Acrescente o texto: Python tem inúmeras bibliotecas para trabalhar com computação científica
- Mostre o conteúdo do arquivo

In [62]:
f = open("Registro.txt", "w")
f.write("Desenvolver programas em python é mil graus :)\n")
f.close()

f = open("Registro.txt", "r")
print(len(f.read()))
f.close()

f = open("Registro.txt", "a")
f.write("Python tem inúmeras bibliotecas para trabalhar com computação científica\n")
f.close()

f = open("Registro.txt", "r")
print(f.read())
f.close()

47
Desenvolver programas em python é mil graus :)
Python tem inúmeras bibliotecas para trabalhar com computação científica